@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Larken";
    src: url("../src/fonts/Larken-Bold.otf");
  }

  @font-face {
    font-family: "Argesta";
    src: url("../src/fonts/ArgestaDisplay-Regular.otf");
  }

  @font-face {
    font-family: "Chromate";
    src: url("../src/fonts/Chromate-Regular.otf");
  }
